@import url("null.css");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");

.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;
}

.main {
   flex: 1 1 auto;
}

[class*="__container"] {
   max-width: 1230px;
   margin: 0px auto;
   /* outline: 1px solid #333; */
}

@media (max-width: 1260px) {}

.header {
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   z-index: 50;
}

.header__container {
   display: flex;
   min-height: 92px;
   align-items: center;
}

.header__menu {
   flex: 1 1 auto;
}

.menu {
   display: flex;
   justify-content: flex-start;

}

.menu__list {
   display: flex;
}

.menu__list:first-child {
   margin: 0px 0px 0px 60px;
}



.menu__item {
   margin: 0px 40px 0px 0px;
}

.menu__link {
   flex-wrap: nowrap;
   color: #424551;
   font-weight: 700;
   line-height: 1.6;
}

.menu__link:hover {
   color: #FF3F3A;
   text-decoration: underline;
}

.header__buttons {
   flex: 0 0 386px;
   display: flex;
   justify-content: flex-end;
}

.button {
   flex: 1 0 206px;
   background-color: #FF3F3A;
   color: #fff;
   font-weight: 700;
   border-radius: 4px;
   letter-spacing: 0.5px;
   line-height: 325%;
   align-content: center;
   text-align: center;
   display: inline-block;
   transition: background-color 0.2s ease 0s;
   padding: 0px 40px;
}

.button:hover {
   background-color: #ff403ab3;
   text-decoration: underline;
}

.register-link {
   background: url('/img/NavBar/Profile.png') 0 3px no-repeat;
   color: #424551;
   font-weight: 700;
   line-height: 1.6;
   align-items: center;
   align-self: center;
   padding: 0px 0px 0px 28px;
   margin: 0px 0px 0px 36px;
}

.register-link:hover {
   text-decoration: underline;
}

/* Блок студентка за компьютером ===========================================================*/
.enjoy-studying {
   background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(245, 93, 5, 0.2) 100%);
   padding: 200px 0px 0px 0px;
}

.enjoy-studying__container {
   display: flex;
   flex-wrap: wrap;
}

.enjoy-studying__content {
   flex: 0 1 50%;
}

.enjoy-studying__video {
   display: flex;
   align-content: center;
}

.video-enjoy-studying {
   flex: 1 1 100%;
}

.video-enjoy-studying__icon {
   width: 84px;
   height: 84px;
   border-radius: 50%;
}

.video-enjoy-studying__text {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.5;
   color: #1E212C;
   align-items: center;
   align-self: center;
}

.enjoy-studying__block-text {
   max-width: 460px;
}

.block-text__title {
   color: #1E212C;
   font-weight: 900;
   font-size: 64px;
   line-height: 1.3;
   letter-spacing: 1px;
   flex: 0 1 498px;
   margin: 0px 0px 60px 0px;
}

.colorless-button {
   flex: 1 0 206px;
   border: 1px solid #F75E05;
   color: #F75E05;
   font-weight: 700;
   border-radius: 4px;
   letter-spacing: 0.5px;
   line-height: 325%;
   align-content: center;
   text-align: center;
   display: inline-block;
   padding: 0px 40px;
   margin: 0px 24px 0px 0px;
   transition: background-color 0.2s ease 0s;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.colorless-button:hover {
   text-decoration: underline;
   background-color: #FF3F3A;
   color: #fff;
}

.enjoy-studying__image {
   flex: 0 1 50%;

}

.enjoy-studying__image img {
   max-width: 100%;

}

.enjoy-studying__footer {
   display: flex;
}

.enjoy-studying__list {
   display: inline-block;
}

.number-list {
   display: flex;
   column-gap: 66px;
   margin: 189px 0px 73px 0px;
}

.number-list__item {
   display: flex;
   font-weight: 900;
   font-size: 46px;
   line-height: 1.3;
   align-items: center;
   align-self: center;
   color: #1E212C;
   column-gap: 12px;
}

.number-list__text {
   display: flex;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.6;
   align-items: center;
   align-self: center;
   color: #1E212C;

}

.number-list__orange-point {
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background-color: #FF3F3A;
   align-items: center;
   align-self: center;
}

/* Блок с фото девушки в наушниках================================================== */
.who-we-are {
   background-color: #fff;
   padding: 180px 0px 90px 0px;
}

.who-we-are__container {
   display: flex;
   flex-wrap: wrap;

}

.who-we-are__image {
   flex: 0 0 58%;

}

.who-we-are__content {
   flex: 0 0 42%;
   padding: 0px 0px 0px 135px;

}

.who-we-are__block-text {}

.who-we-are__title {
   margin: 0px 0px 40px 0px;
}

.subtitle-title__string {
   text-transform: uppercase;
   font-weight: 700;
   line-height: 1.5;
   letter-spacing: 1px;
   color: #1E212C;
   margin: 0px 0px 8px 0px;
   display: block;
}

.subtitle-title__title {
   font-weight: 900;
   font-size: 46px;
   line-height: 1.3;
   color: #1E212C;

}

.who-we-are__list {
   margin: 0px 0px 22px 0px;
}

.mark-list {
   display: flex;
   flex-direction: column;

}

.mark-list__item {
   line-height: 1.6;
   color: #424551;
   padding: 0px 0px 0px 32px;
   background: url('/img/who-we-are/check_mark.svg') 0 6px no-repeat;
}


.mark-list__item:not(:last-child) {
   margin: 0px 0px 12px 0px;
}

.who-we-are__button {}

/* Блок с карточками преподавателей=============================================== */
.featured-сourses {
   padding: 90px 0px 60px;
   background-color: #fff;
}

.featured-сourses__container {
   position: relative;
}


.featured-сourses__title {
   margin: 0px 0px 60px 0px;
}

.featured-сourses__button {
   position: absolute;
   top: 40px;
   right: 2px;
   margin: 0;
}

.teachers-cards {
   display: flex;
   flex-wrap: wrap;
   margin: 0px -15px;
}

.teachers-cards__column {
   flex: 0 1 50%;
   margin: 0px 0px 30px 0px;
   padding: 0px 15px;
}

.teachers-cards__items {
   display: flex;

}

.card {
   outline: 1px solid #E5E8ED;
   box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
   border-radius: 5px;
   display: flex;
}

.card:hover {
   box-shadow: 0px 3px 20px 1px rgba(154, 156, 165, 0.5);

}

.card__row {
   display: flex;
   flex: 0 1 auto;
}

.card__image {
   flex: 0 0 214px;
}

/* Доделать тело карточки на флексах, убрать отступы изображений================= */

.card__body {
   margin: 32px;
   flex: 1 1 auto;
}

.card__marked-word {
   align-items: center;
   border-radius: 4px;
   padding: 3px 8px;
   font-size: 14px;
   line-height: 1.5;
   color: #fff;
   display: inline-block;
}

.card__title {
   color: #1E212C;
   font-weight: 700;
   font-size: 20px;
   line-height: 1.5;
   padding: 20px 0px;
}

.card__price {
   font-weight: 700;
   font-size: 18px;
   line-height: 1.5;
   color: #FF4242;
   display: inline-block;
}

.card__name {
   font-size: 18px;
   line-height: 1.5;
   color: #787A80;
   display: inline-block;
   /* padding: 0px 0px 0px 16px; */
}

/* решение вместо слэша */
.card__name::before {
   content: "";
   display: inline-block;
   width: 1px;
   height: 17px;
   background-color: #787A80;
   margin: 0px 8px -2px;
}

.green-word {
   background-color: #03CEA4;
}

.orange-word {
   background-color: #F89828;
}

.blue-word {
   background-color: #5A87FC;
}

.pink-word {
   background-color: #F52F6E;
}

/* Блок два студента перед ноутбуком ===================================================================*/

.our-benefits {
   margin: 90px 0px 120px;

}

.our-benefits__container {}

.our-benefits__title {
   margin: 0px 0px 60px 0px;
   text-align: center;
}

.our-benefits__navigation {
   display: flex;
   flex-wrap: nowrap;
}

.block-navigation {
   margin: 0px 1px 60px 1px;
   flex: 0 1 auto;
}

.block-navigation__item {
   flex: 0 1 25%;
   align-items: center;
   text-align: center;
   padding: 10px 0px;
}

.block-navigation__link {
   padding: 0px 0px 0px 24px;
   font-weight: 700;
   line-height: 1.6;
   color: #9A9CA5;
   display: inline-block;
}

/* Как оптимизировать и доделать?============================================================================= */
.star {
   background: url('/img/our-benefits/our-benefits_icons/Star_\(Icon\).svg') 0px 5px no-repeat;
}

.star:hover {
   background: url('/img/our-benefits/our-benefits_icons/Star_marked.svg') 0px 5px no-repeat;
}

.feedback {
   background: url('/img/our-benefits/our-benefits_icons/Feedback_\(Icon\).svg') 0px 5px no-repeat;
}

.feedback:hover {
   background: url('/img/our-benefits/our-benefits_icons/Feedback_marked.svg') 0px 5px no-repeat;
}

.online-library {
   background: url('/img/our-benefits/our-benefits_icons/Online-library_\(Icon\).svg') 0px 5px no-repeat;
}

.online-library:hover {
   background: url('/img/our-benefits/our-benefits_icons/Online-library_marked.svg') 0px 5px no-repeat;
}

.community {
   background: url('/img/our-benefits/our-benefits_icons/Commnity_\(Icon\).svg') 0px 5px no-repeat;
}

.community:hover {
   background: url('/img/our-benefits/our-benefits_icons/Community_marked.svg') 0px 5px no-repeat;
}

.block-navigation__item:hover {
   outline: 1px solid #FF3F3A;
   border-radius: 4px;

}

.block-navigation__item:hover .block-navigation__link {
   color: #FF3F3A;
}

.our-benefits__content {
   display: flex;

}

.text-block {
   flex: 0 1 50%;
   display: flex;
}

.text-block__body {
   max-width: 500px;
   flex-direction: column;
   align-self: center;
}

.text-block__title {
   font-weight: 900;
   font-size: 32px;
   line-height: 1.3;
   color: #1E212C;
   margin: 0px 0px 24px 0px;
}

.text-block__text {
   line-height: 1.6;
   color: #424551;
}

.our-benefits__image {
   flex: 0 1 50%;

}

.our-benefits__image img {
   max-width: 100%;
   padding-left: 15px;
}

/* Блок с карточками событий================================================================= */

.our-events {
   margin: 0px 0px 110px 0px;
   background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(245, 93, 5, 0.2) 100%);
}

.our-events__container {}

.our-events__title {
   text-align: center;
   margin: 0px 0px 60px 0px;
}

.our-events__events {}

.list-events {
   display: flex;
   flex-direction: column;
}

.list-events__item {
   flex: 0 1 auto;
   display: flex;
   flex-direction: row;
   justify-content: center;
   min-height: 130px;
   margin: 0px 0px 24px 0px;
   background-color: #fff;
   border-radius: 4px;
}

.list-events__item:hover {
   transition: 0.2s ease 0s;
   position: relative;
   z-index: 9999;
   box-shadow: 0px 80px 80px -20px rgba(255, 63, 58, 0.16), 0px 30px 24px -10px rgba(255, 63, 58, 0.1), 0px 12px 10px -6px rgba(255, 63, 58, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}

.list-events__date-block {
   flex: 0 1 257px;

   display: flex;
   align-items: center;
}

.list-events__date {
   display: inline-block;
   font-weight: 900;
   font-size: 48px;
   line-height: 130%;
   letter-spacing: 1px;
   color: #FF3F3A;
   padding: 32px 20px 32px 40px;

}

.list-events__time {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-items: center;
}

.month {
   font-weight: 700;
   font-size: 20px;
   line-height: 1.5;
   color: #1E212C;
}

.time {
   line-height: 1.6;
   color: #787A80;
}

.list-events__text-block {
   flex: 0 1 757px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}

.list-events__text {
   font-weight: 700;
   font-size: 20px;
   line-height: 150%;
   color: #1E212C;
}

.list-events__info {
   line-height: 1.6;
   color: #787A80;
}

.list-events__button-block {
   flex: 0 1 216px;

   justify-content: center;
   align-items: center;
   display: inline-flex;
}

.list-events__button {
   padding: 0px;
   font-size: 14px;
   flex: 0 0 136px;
   margin: 0;
}

.quastion {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   padding: 40px 0px 80px 0px;
}

.quastion__want-more {
   font-weight: 700;
   font-size: 28px;
   line-height: 1.5;
   color: #1E212C;
   padding: 0px 40px 0px 0px;
}

.quastion__button {}

/* Блок с сертификатом===================================================== */
.createx-certificate {}

.createx-certificate__container {
   position: relative;
   min-height: 464px;
}

.createx-certificate__title {
   max-width: 400px;
}

.custom-title {}

.subtitle-title__string {
   font-weight: 700;
   font-size: 16px;
   line-height: 150%;
   letter-spacing: 1px;
   text-transform: uppercase;
   color: #1E212C;
   margin: 0px 0px 8px 0px;
}

.subtitle-title__title {
   font-weight: 900;
   font-size: 46px;
   line-height: 130%;
   color: #1E212C;
   margin: 0px 0px 48px 0px;
}

.createx-certificate__text {
   margin: 0px 0px 32px 0px;
   max-width: 400px;
   line-height: 1.6;
   color: #424551;
}

.createx-certificate__block-logo img {}

.logo-block {
   display: flex;
   max-width: 400px;
}

.logo-block__strategy {
   flex: 0 1 33.333%;
}

.logo-block__sentinal {
   flex: 0 1 33.333%;
}

.logo-block__national {
   flex: 0 1 33.333%;
}

.createx-certificate__general-image {
   position: absolute;
   right: 0;
   top: 0;
   z-index: 100;
   filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Блок встречайте нашу команду================================================== */
.best-tutors {
   background-color: #F4F5F7;
   padding: 170px 0px 90px 0px;
}

.best-tutors__container {
   position: relative;

}

.best-tutors__title {
   margin: 0px 0px 60px 0px;
}


.best-tutors__slider {}

.buttons-slider {}

.buttons-slider__right {
   position: absolute;
   top: 75px;
   right: 25px;
   width: 48px;
   height: 48px;
   border-radius: 50%;
   background: url('/img/best-tutors/slider_buttons/right_dark.svg') 15px 17px no-repeat;
}

.buttons-slider__left {
   position: absolute;
   top: 75px;
   right: 72px;
   width: 48px;
   height: 48px;
   border-radius: 50%;
   background: url('/img/best-tutors/slider_buttons/left_dark.svg') 15px 17px no-repeat;
}

.buttons-slider__right:hover {
   transition: 0.3s ease 0s;
   background-color: #FF3F3A;
   /* background: url('/img/best-tutors/slider_buttons/right_white.svg') 15px 17px no-repeat; */
}

.buttons-slider__left:hover {
   transition: 0.3s ease 0s;
   background-color: #FF3F3A;
   /* background: url('/img/best-tutors/slider_buttons/left_white.svg') 15px 17px no-repeat; */
}

.best-tutors__slider {
   max-width: 1208px;
   margin: 0px -15px;
}

.body-slider {
   display: flex;
   flex-direction: row;
}

.body-slider__item {
   flex: 0 1 25%;
   padding: 0px 15px;

}

.body-slider__image {
   background-color: #FFCF2D;
   border-radius: 4px;
   position: relative;
}

.body-slider__image:hover {
   background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
   background-color: #FFCF2D;
}

.body-slider__image img {
   max-width: 100%;
   margin: 0px auto;
   display: block;
   padding: 20px 4px 0px 4px;

}

/* Соц сети преподавателей================================================== */
.body-slider__sotial {
   display: inline-flex;
   position: absolute;
   right: 15px;
   bottom: 20px;
   visibility: hidden;
   height: 20px;
   width: 84px;
   justify-content: space-between;
}



.body-slider__image:hover .body-slider__sotial {
   visibility: visible;
}

.fb-link {
   background: url('/img/best-tutors/card-icons/facebookS.svg') 0px 0px no-repeat;
   width: 20px;
   height: 20px;


}

.fb-link:hover {
   background: url('/img/best-tutors/card-icons/facebook.svg') 0px 0px no-repeat;

}

.inst-link {
   background: url('/img/best-tutors/card-icons/instS.svg') 0px 1px no-repeat;
   width: 20px;
   height: 20px;
}

.inst-link:hover {
   background: url('/img/best-tutors/card-icons/inst.svg') 0px 1px no-repeat;
}

.in-link {
   background: url('/img/best-tutors/card-icons/inS.svg') 0px 0px no-repeat;
   width: 20px;
   height: 20px;
}

.in-link:hover {
   background: url('/img/best-tutors/card-icons/in.svg') 0px 0px no-repeat;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
.body-slider__name {
   font-weight: 700;
   font-size: 20px;
   line-height: 1.5;
   text-align: center;
   color: #424551;
   margin: 0px 0px 4px 0px;
   padding: 16px 0px 0px 0px;
}

.body-slider__duties {
   line-height: 1.6;
   text-align: center;
   color: #787A80;
}

/* <!-- Слайдер с рекомендациями -----------------------------------------------> */


.testimonials {
   background-color: #F4F5F7;
   padding: 90px 0px 0px 0px;
   margin: 0px 0px 220px 0px;
}

.testimonials__container {}

.testimonials__title {
   text-align: center;
   margin: 0px 0px 60px 0px;
}

.testimonials__feedback-block {}

.block-feedback {}

.block-feedback__slider-controls {
   display: flex;
   flex-direction: row;
}

.block-feedback__button-left {
   position: absolute;
   top: 42%;
   left: 3px;
   width: 48px;
   height: 48px;
   border-radius: 50%;
   background: url('/img/best-tutors/slider_buttons/left_dark.svg') 14px 18px no-repeat;
}

.block-feedback__button-right {
   position: absolute;
   top: 42%;
   right: 3px;
   width: 48px;
   height: 48px;
   border-radius: 50%;
   background: url('/img/best-tutors/slider_buttons/right_dark.svg') 14px 18px no-repeat;

}

.block-feedback__button-box {
   flex: 0 1 9%;
   position: relative;
}


.block-feedback__button-left:hover {
   position: absolute;
   top: 42%;
   left: 3px;
   width: 48px;
   height: 48px;
   border-radius: 50%;
   background: url('/img/testimonials/slider_buttons/left_white.svg') 0px 0px no-repeat;
}

.block-feedback__button-right:hover {
   position: absolute;
   top: 42%;
   right: 3px;
   width: 48px;
   height: 48px;
   border-radius: 50%;
   background: url('/img/testimonials/slider_buttons/right_white.svg') 0px 0px no-repeat;
}

/* __________________________________________ */


.bullet-navigation {
   display: flex;
   flex-direction: row;
   justify-content: center;
   padding: 60px 0px 0px 0px;
}

.bullet-navigation__item {
   margin: 0px 12px 0px 0px;
   min-width: 30px;
   height: 3px;
   border-radius: 1px;
   background-color: #B3B7BC;
}


.block-feedback__testimonal-container {
   background-color: #fff;
   border-radius: 4px;
   flex: 0 1 82%;
   position: relative;
   padding: 64px 100px;
   box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
}

.block-feedback__braces {
   position: absolute;
   top: 72px;
   left: 100px;
}

.block-feedback__braces img {
   max-width: 100%;
}

.block-feedback__card {
   display: flex;
   flex-direction: column;

}

.block-feedback__text {
   font-size: 20px;
   line-height: 150%;
   color: #424551;
   flex: 0 1 auto;
   max-width: 950px;
   margin: 0px 0px 24px 60px;
}

.block-feedback__avatar {
   margin: 0px 0px 0px 60px;
   position: relative;

}


.image-avatar {
   position: absolute;
   top: 0px;
   left: 0px;
}

.image-avatar img {
   width: 72px;
   height: 72px;
   border-radius: 50%;
}

.name-avatar {
   display: block;
   padding: 11px 0px 4px 92px;
   font-weight: 700;
   line-height: 1.6;
   color: #1E212C;
   max-width: 950px;
}



.position-avatar {
   display: block;
   padding: 0px 0px 11px 92px;
   font-size: 14px;
   line-height: 1.5;
   color: #787A80;
}


/* <!-- Карточки с контентом -----------------------------------------------> */



.our-blog {}

.our-blog__container {
   padding: 0px 0px 180px 0px;
}

.our-blog__header {
   position: relative;
   margin: 0px 0px 60px 0px;
}

.our-blog__title h2 {
   margin: 0px;
}

.our-blog__button {
   position: absolute;
   bottom: 0px;
   right: 0px;
}



.our-blog__content-cards {}

.cards-content {
   display: flex;
   flex-direction: row;
   margin: 0px -15px;
}

.cards-content__item {
   flex: 0 1 33.333%;
   display: flex;
   flex-direction: column;
   padding: 0px 15px;
}

.cards-content__bkgd {
   position: relative;
   margin: 0px 0px 16px 0px;
   display: flex;

}

.cards-content__bkgd img {
   max-width: 100%;
   flex: 1 1 auto;
}

.cards-content__link-box {
   position: absolute;
   z-index: 100;
   top: 12px;
   left: 12px;
   background-color: #fff;
   border-radius: 4px;
}

.cards-content__podcast-link {

   font-size: 14px;
   line-height: 1.5;
   color: #424551;
   padding: 2px 8px 2px 28px;
   background: url('/img/our-blog/logo/micro.svg') 8px 3px no-repeat;
}

.cards-content__video-link {
   font-size: 14px;
   line-height: 1.5;
   color: #424551;
   padding: 2px 8px 2px 28px;
   background: url('/img/our-blog/logo/video.svg') 8px 3px no-repeat;
}

.cards-content__article-link {
   font-size: 14px;
   line-height: 1.5;
   color: #424551;
   padding: 2px 8px 2px 28px;
   background: url('/img/our-blog/logo/article.svg') 8px 3px no-repeat;
}

.cards-content__link:hover {
   text-decoration: underline;
}

.cards-content__info {
   font-weight: 700;
   font-size: 14px;
   line-height: 1.5;
   color: #787A80;
   margin: 0px 0px 8px 0px;
}

.cards-content__info span {
   display: inline-block;
   margin: 0px 12px 0px 0px;
}

.cards-content__subject {}

.cards-content__subject::after {
   content: "";
   width: 1px;
   height: 12px;
   background-color: #787A80;
   display: inline-block;
   margin: 0px 0px -1px 12px;

}

.cards-content__date {
   padding: 0px 0px 0px 24px;
   background: url('/img/our-blog/logo/calendar.svg') 0px 3px no-repeat;
}

.cards-content__date::after {
   content: "";
   width: 1px;
   height: 12px;
   background-color: #787A80;
   display: inline-block;
   margin: 0px 0px -1px 12px;
}

.cards-content__time {
   padding: 0px 0px 0px 24px;
   background: url('/img/our-blog/logo/clock.svg') 0px 3px no-repeat;
}


.cards-content__text {
   line-height: 1.6;
   color: #424551;
   margin: 0px 0px 16px 0px;
}

.cards-content__subtitle {
   font-weight: 700;
   font-size: 20px;
   line-height: 1.5;
   color: #1E212C;
   margin: 0px 0px 8px 0px;
}

.cards-content__get img {
   padding: 6px 0px 6px 11px;
}

.cards-content__arrowed-link {
   display: inline-block;
   font-weight: 700;
   line-height: 1.6;
   color: #1E212C;
}

.cards-content__arrowed-link:hover {
   text-decoration: underline;
}


/* Поле ввода имейла-======================================= */


.subscribe-form {
   background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(245, 93, 5, 0.2) 100%);
   padding: 120px 0px 0px 0px;
   position: relative;
}

.subscribe-form__container {}

.subscribe-form__title {
   text-align: center;
   max-width: 810px;
   margin: 0px auto;
}

.subscribe-form__title h2 {
   margin: 0px 0px 60px 0px;
}

.subscribe-form__email-field {
   text-align: center;
   max-width: 600px;
   margin: 0px auto;
   padding: 0px 0px 120px 0px;
}

.subscribe-form-email {
   display: inline-block;
   margin: 0px 24px 0px 0px;
   width: 322px;
   height: 52px;
   border-radius: 4px;
}

.subscribe-form__button {}

.subscribe-form__image-left {
   position: absolute;
   bottom: 0px;
   left: 0px;
}

.subscribe-form__image-right {
   position: absolute;
   bottom: 0px;
   right: 0px;
}


/* футер==================================================== */


.footer {
   background-color: #1E212C;
   position: relative;
}

.footer__container {
   padding: 80px 0px 0px 0px;
}

.footer__row {
   display: flex;
   flex-direction: row;
   margin: 0px 0px 60px 0px;
}

.footer__general-block {
   flex: 0 1 24%;
}

.footer__logo-box {
   margin: 0px 0px 25px 0px;
}

.footer__logo {}

.footer__text {
   margin: 0px 0px 38px 0px;
   font-size: 12px;
   line-height: 1.5;
   color: #fff;
   opacity: 0.6;
}

.sotial-media {
   display: flex;
   flex-direction: row;
   gap: 20px;
}

.sotial-media__icon-facebook {
   width: 24px;
   height: 24px;
   background: url('/img/footer/sotial-media-logo/facebook_dark.svg') 0 0 no-repeat;
}

.sotial-media__icon-facebook:hover {
   background: url('/img/footer/sotial-media-logo/facebook_white.svg') 0 0 no-repeat;
}

.sotial-media__icon-twitter {
   width: 24px;
   height: 24px;
   background: url('/img/footer/sotial-media-logo/twitter_dark.svg') 0 0 no-repeat;
}

.sotial-media__icon-twitter:hover {
   background: url('/img/footer/sotial-media-logo/twitter_white.svg') 0 0 no-repeat;
}

.sotial-media__icon-youtube {
   width: 24px;
   height: 24px;
   background: url('/img/footer/sotial-media-logo/YouTube_dark.svg') 0 0 no-repeat;
}

.sotial-media__icon-youtube:hover {
   background: url('/img/footer/sotial-media-logo/YouTube_white.svg') 0 0 no-repeat;
}

.sotial-media__icon-telegram {
   width: 24px;
   height: 24px;
   background: url('/img/footer/sotial-media-logo/telegram_dark.svg') 0 0 no-repeat;
}

.sotial-media__icon-telegram:hover {
   background: url('/img/footer/sotial-media-logo/telegram-white.svg') 0 0 no-repeat;
}

.sotial-media__icon-instagram {
   width: 24px;
   height: 24px;
   background: url('/img/footer/sotial-media-logo/instagram_dark.svg') 0 0 no-repeat;
}

.sotial-media__icon-instagram:hover {
   background: url('/img/footer/sotial-media-logo/instagram_white.svg') 0 0 no-repeat;
}

.sotial-media__icon-in {
   width: 24px;
   height: 24px;
   background: url('/img/footer/sotial-media-logo/in_dark.svg') 0 0 no-repeat;
}

.sotial-media__icon-in:hover {
   background: url('/img/footer/sotial-media-logo/in_white.svg') 0 0 no-repeat;
}

.footer__site-map {
   flex: 0 1 15%;
}

.footer__list {
   padding: 0px 0px 0px 40px;
}



.footer__item {
   line-height: 1.6;
   margin: 0px 0px 8px 0px;

}

.footer__item:hover {
   text-decoration: underline;

}

.footer__link {
   color: #fff;
   opacity: 0.6;
}

.footer__courses {
   flex: 0 1 15%;
}

.footer__contact-us {
   flex: 0 1 18%;
}

.footer__subtitle {
   font-weight: 700;
   color: #fff;
   line-height: 1.5;
   letter-spacing: 1px;
   text-transform: uppercase;
   margin: 0px 0px 12px 0px;

}

.footer__tel {
   line-height: 1.6;
   color: #fff;
   margin: 0px 0px 8px 0px;
   background: url('/img/footer/phone.svg') 3px 5px no-repeat;
   padding: 0px 0px 0px 24px;
   opacity: 0.6;
}

.footer__email {
   line-height: 1.6;
   color: #fff;
   margin: 0px 0px 8px 0px;
   background: url('/img/footer/envelope.svg') 0 7px no-repeat;
   padding: 0px 0px 0px 24px;
   opacity: 0.6;
}

.footer__newsletter {
   flex: 0 1 28%;
}

.footer__subtitle-input {
   margin: 0px 0px 24px 0px;
   font-weight: 700;
   color: #fff;
   line-height: 1.5;
   letter-spacing: 1px;
   text-transform: uppercase;

}

.footer__email-address {
   margin: 0px 0px 12px 0px;
   height: 36px;
   width: 286px;
   background-color: rgba(255, 255, 255, 0.12);
   border: 1px solid rgba(255, 255, 255, 0.2);
}

.footer__footnode-input {
   font-size: 10px;
   line-height: 1.5;
   color: #fff;
   opacity: 0.6;
}


.go-to-top {
   position: relative;
   min-height: 58px;
}

.go-to-top__written-heart {
   position: absolute;
   left: 0px;
   margin: 20px 0px;
   z-index: 50;
}

.go-to-top__written-heart img {
   max-width: 100%;
}

.go-to-top__link-box {
   position: absolute;
   right: 0px;
   margin: 18px 0px 19px 0px;
   z-index: 50;
}

.go-to-top__link {
   opacity: 0.6;
   color: #fff;
}

.go-to-top__link:hover {
   text-decoration: underline;
}

.footer__bcgd-block {
   position: absolute;
   bottom: 0px;
   right: 0%;
   left: 0%;
   background: #FFFFFF;
   opacity: 0.05;
   min-height: 58px;
   z-index: 10;
}

/* страница courses!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!========================================== */



.our-online-courses {
   padding: 130px 0px 0px 0px;
}

.our-online-courses__container {}

.our-online-courses__title {
   text-align: center;
   margin: 20px 0px 60px 0px;
}

.our-online-courses__navigate {}

.navigate-block {
   display: flex;
   flex-direction: row;
   justify-items: center;
   margin: 0px 0px 60px 0px;
}

.navigate-block__items {
   flex: 1 1 800px;
   display: flex;
   flex-direction: row;
   gap: 12px;
}

.navigate-block__link-box {
   padding: 10px 20px;

}

.navigate-block__link-box:hover {
   outline: 1px solid #FF3F3A;
   border-radius: 4px;

}

.navigate-block__link {
   font-weight: 700;
   line-height: 1.6;
   text-align: center;
   color: #9A9CA5;
   padding: 0px 10px 0px 0px;
}

.navigate-block__link-box:hover .navigate-block__link {
   color: #FF3F3A;

}

.navigate-block__search {
   flex: 0 0 315px;
}

.navigate-block__search-form {
   min-width: 315px;
   min-height: 46px;
   border-radius: 4px;
   border: 1px solid #D7DADD;
}

.our-online-courses__cards {
   position: relative;
   padding: 0px 0px 230px 0px;
}

.column-card {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   gap: 30px;

}

.column-card__item {
   display: flex;
   flex-direction: column;
   max-width: 390px;
   border: 1px solid #E5E8ED;
   box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
   border-radius: 5px;

}

.column-card__item:hover {
   box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}


.column-card__image {
   flex: 0 1 55%;
   overflow: hidden;
}

.column-card__image img {
   min-width: 100%;
}

.column-card__body {
   flex: 0 1 45%;
   padding: 25px;
}

.column-card__marked-word {
   margin: 0px 0px 20px 0px;
   display: inline-block;
   padding: 1px 8px;
   font-size: 14px;
   line-height: 1.5;
   color: #FFFFFF;
   border-radius: 4px;
}

.purple-word {
   background: #7772F1;
}


.column-card__title {
   margin: 0px 0px 20px 0px;
   font-weight: 700;
   font-size: 20px;
   line-height: 1.5;
   color: #1E212C;
}

.column-card__price {
   display: inline-block;
   font-weight: 700;
   font-size: 18px;
   line-height: 1.5;
   color: #FF4242;
}


.column-card__name {
   font-size: 18px;
   line-height: 1.5;
   color: #787A80;
}

.column-card__name::before {
   content: "";
   display: inline-block;
   width: 1px;
   height: 17px;
   background-color: #787A80;
   margin: 0px 8px -2px;
}

.column-card__load-more {
   position: absolute;
   bottom: 120px;
   left: 45.3%;
}

.column-card__link {
   background: url('/img/our_online_courses/rounded_arrows.svg') 0 -1px no-repeat;
   padding: 0px 0px 0px 40px;
   font-weight: 700;
   line-height: 1.6;
   color: #424551;
}

.column-card__link:hover {
   text-decoration: underline;
}


/* модификация testimonials ===================*/
.testimonials-courses {
   margin: 0px 0px 120px 0px;
}

.block-feedback_courses {
   padding: 0px 0px 100px 0px;
}



/* модификация createx-certificate ============*/

.createx-certificate__container-courses {
   min-height: 500px;

}

.createx-certificate__title_courses {
   padding: 83px 0px 0px 0px;
}

.createx-certificate__general-image-courses {
   box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.16), 0px 30px 24px -10px rgba(154, 156, 165, 0.1), 0px 12px 10px -6px rgba(154, 156, 165, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
}





/* модификация subscribe-form-courses=========== */
.subscribe-form-courses {
   margin: 120px 0px 0px 0px;
}